<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    {% for category in categories %}
        <a href="{{ path('site_blog_category_show', {tname:category.tname}) }}" class="list-group-item">{{ category.name }}</a>
    {% endfor %}
  </div>
</div>